@using MudBlazor

<section class="topbar-wrapper">

    <div class="topbar">
        <!-- Right Side -->
        <div class="topbar-right">

            <MudBadge Content="3" Color="Color.Warning" Overlap="true">
                <MudIconButton Icon="@Icons.Material.Filled.Notifications"
                               Class="icon-btn" />
            </MudBadge>

            <MudAvatar Color="Color.Warning" Class="avatar">
                XQ
            </MudAvatar>

        </div>

    </div>

</section>