@inject ISnackbar Snackbar
@inject NavigationManager Nav

@code {
    private List<string> Users = new()
    {
        "Rahul from Bangalore",
        "Priya from Hyderabad",
        "Arjun from Delhi",
        "Sneha from Mumbai",
        "Kiran from Chennai"
    };

    private readonly Random _random = new();
    private bool _isActive;

    protected override async Task OnInitializedAsync()
    {
        _isActive = IsHomePage();

        if (!_isActive)
            return;

        while (_isActive)
        {
            await Task.Delay(4000);

            var user = Users[_random.Next(Users.Count)];

            ShowActivity(user);

            await Task.Delay(20000);
        }
    }

    protected override void OnInitialized()
    {
        Nav.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _isActive = IsHomePage();
    }

    public void Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
    }

    void ShowActivity(string user)
    {
        var parts = user.Split(' ');
        var initials = $"{parts[0][0]}{parts[0][1].ToString().ToUpper()}";

        Snackbar.Add(@<div class="activity-snackbar">
                <MudAvatar Variant="Variant.Outlined">@initials</MudAvatar>
            <div class="content">
                <div class="title">@user</div>
                <div class="subtitle">
                    just joined XQARE!
                </div>
            </div>

        </div>
    , Severity.Normal, config =>
        {
            config.ShowCloseIcon = false;
            config.RequireInteraction = false;
            config.VisibleStateDuration = 1000;
            config.DuplicatesBehavior = SnackbarDuplicatesBehavior.Prevent;
            config.HideIcon = true;
            
        });

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Configuration.MaxDisplayedSnackbars = 1;
        Snackbar.Configuration.ClearAfterNavigation = true;
    }

    private bool IsHomePage()
    {
        var relative = Nav.ToBaseRelativePath(Nav.Uri);
        return string.IsNullOrEmpty(relative);
    }
}