
.activity-snackbar {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    border-radius: 14px;
    backdrop-filter: blur(6px);
    animation: slideUp 0.4s ease;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5b400;
    border: 1px solid rgba(245, 180, 0, 0.5);
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 0px !important;
}

.title {
    color: white;
    font-weight: 500;
    font-size: 10px;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #f5b400;
    font-size: 10px;
}

::deep .crown-icon {
    font-size: 16px;
    color: #f5b400 !important;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
